<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/0/control/0/plot" value="false" />
    <add key="/lpc/it8688e/0/control/1/plot" value="false" />
    <add key="/lpc/it8688e/0/control/2/plot" value="false" />
    <add key="/lpc/it8688e/0/control/3/plot" value="false" />
    <add key="/lpc/it8688e/0/control/4/plot" value="false" />
    <add key="/lpc/it8792e/0/control/0/plot" value="false" />
    <add key="/lpc/it8792e/0/control/1/plot" value="false" />
    <add key="/lpc/it8792e/0/control/2/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/9/plot" value="false" />
    <add key="/amdcpu/0/load/10/plot" value="false" />
    <add key="/amdcpu/0/load/11/plot" value="false" />
    <add key="/amdcpu/0/load/12/plot" value="false" />
    <add key="/amdcpu/0/load/13/plot" value="false" />
    <add key="/amdcpu/0/load/14/plot" value="false" />
    <add key="/amdcpu/0/load/15/plot" value="false" />
    <add key="/amdcpu/0/load/16/plot" value="false" />
    <add key="/amdcpu/0/load/17/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/factor/0/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/amdcpu/0/voltage/2/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/factor/1/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/voltage/3/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/factor/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/voltage/4/plot" value="false" />
    <add key="/amdcpu/0/clock/9/plot" value="false" />
    <add key="/amdcpu/0/clock/10/plot" value="false" />
    <add key="/amdcpu/0/factor/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/voltage/5/plot" value="false" />
    <add key="/amdcpu/0/clock/11/plot" value="false" />
    <add key="/amdcpu/0/clock/12/plot" value="false" />
    <add key="/amdcpu/0/factor/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/voltage/6/plot" value="false" />
    <add key="/amdcpu/0/clock/13/plot" value="false" />
    <add key="/amdcpu/0/clock/14/plot" value="false" />
    <add key="/amdcpu/0/factor/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/voltage/7/plot" value="false" />
    <add key="/amdcpu/0/clock/15/plot" value="false" />
    <add key="/amdcpu/0/clock/16/plot" value="false" />
    <add key="/amdcpu/0/factor/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/voltage/8/plot" value="false" />
    <add key="/amdcpu/0/clock/17/plot" value="false" />
    <add key="/amdcpu/0/clock/18/plot" value="false" />
    <add key="/amdcpu/0/factor/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/voltage/9/plot" value="false" />
    <add key="/amdcpu/0/temperature/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/3/plot" value="false" />
    <add key="/amdcpu/0/voltage/0/plot" value="false" />
    <add key="/amdcpu/0/voltage/1/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/vram/data/2/plot" value="false" />
    <add key="/vram/data/3/plot" value="false" />
    <add key="/vram/load/1/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/memory/dimm/2/timing/20/plot" value="false" />
    <add key="/memory/dimm/2/timing/21/plot" value="false" />
    <add key="/memory/dimm/2/timing/22/plot" value="false" />
    <add key="/memory/dimm/2/timing/23/plot" value="false" />
    <add key="/memory/dimm/2/timing/24/plot" value="false" />
    <add key="/memory/dimm/2/timing/25/plot" value="false" />
    <add key="/memory/dimm/2/timing/26/plot" value="false" />
    <add key="/memory/dimm/2/timing/27/plot" value="false" />
    <add key="/memory/dimm/2/timing/28/plot" value="false" />
    <add key="/memory/dimm/2/timing/29/plot" value="false" />
    <add key="/memory/dimm/2/timing/30/plot" value="false" />
    <add key="/memory/dimm/2/timing/31/plot" value="false" />
    <add key="/memory/dimm/2/timing/32/plot" value="false" />
    <add key="/memory/dimm/2/timing/33/plot" value="false" />
    <add key="/memory/dimm/2/timing/34/plot" value="false" />
    <add key="/memory/dimm/2/timing/35/plot" value="false" />
    <add key="/memory/dimm/2/timing/36/plot" value="false" />
    <add key="/memory/dimm/2/data/50/plot" value="false" />
    <add key="/memory/dimm/3/timing/20/plot" value="false" />
    <add key="/memory/dimm/3/timing/21/plot" value="false" />
    <add key="/memory/dimm/3/timing/22/plot" value="false" />
    <add key="/memory/dimm/3/timing/23/plot" value="false" />
    <add key="/memory/dimm/3/timing/24/plot" value="false" />
    <add key="/memory/dimm/3/timing/25/plot" value="false" />
    <add key="/memory/dimm/3/timing/26/plot" value="false" />
    <add key="/memory/dimm/3/timing/27/plot" value="false" />
    <add key="/memory/dimm/3/timing/28/plot" value="false" />
    <add key="/memory/dimm/3/timing/29/plot" value="false" />
    <add key="/memory/dimm/3/timing/30/plot" value="false" />
    <add key="/memory/dimm/3/timing/31/plot" value="false" />
    <add key="/memory/dimm/3/timing/32/plot" value="false" />
    <add key="/memory/dimm/3/timing/33/plot" value="false" />
    <add key="/memory/dimm/3/timing/34/plot" value="false" />
    <add key="/memory/dimm/3/timing/35/plot" value="false" />
    <add key="/memory/dimm/3/timing/36/plot" value="false" />
    <add key="/memory/dimm/3/data/50/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/4/plot" value="false" />
    <add key="/gpu-nvidia/0/fan/1/plot" value="false" />
    <add key="/gpu-nvidia/0/control/1/plot" value="false" />
    <add key="/gpu-nvidia/0/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/load/1/plot" value="false" />
    <add key="/gpu-nvidia/0/load/2/plot" value="false" />
    <add key="/gpu-nvidia/0/load/3/plot" value="false" />
    <add key="/gpu-nvidia/0/load/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/5/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/7/plot" value="false" />
    <add key="/gpu-nvidia/0/load/11/plot" value="false" />
    <add key="/gpu-nvidia/0/load/13/plot" value="false" />
    <add key="/gpu-nvidia/0/load/14/plot" value="false" />
    <add key="/gpu-nvidia/0/load/8/plot" value="false" />
    <add key="/gpu-nvidia/0/load/9/plot" value="false" />
    <add key="/gpu-nvidia/0/load/10/plot" value="false" />
    <add key="/gpu-nvidia/0/load/12/plot" value="false" />
    <add key="/gpu-nvidia/0/load/15/plot" value="false" />
    <add key="/gpu-nvidia/0/load/16/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/2/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/0/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/1/plot" value="false" />
    <add key="/gpu-nvidia/0/power/0/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/0/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/1/plot" value="false" />
    <add key="/ssd/0/temperature/0/plot" value="false" />
    <add key="/ssd/0/level/20/plot" value="false" />
    <add key="/ssd/0/data/21/plot" value="false" />
    <add key="/ssd/0/data/22/plot" value="false" />
    <add key="/ssd/0/factor/23/plot" value="false" />
    <add key="/ssd/0/factor/24/plot" value="false" />
    <add key="/ssd/0/load/30/plot" value="false" />
    <add key="/ssd/0/data/31/plot" value="false" />
    <add key="/ssd/0/data/32/plot" value="false" />
    <add key="/ssd/0/load/51/plot" value="false" />
    <add key="/ssd/0/load/52/plot" value="false" />
    <add key="/ssd/0/load/53/plot" value="false" />
    <add key="/ssd/0/throughput/54/plot" value="false" />
    <add key="/ssd/0/throughput/55/plot" value="false" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/data/2/plot" value="false" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/data/3/plot" value="false" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/load/1/plot" value="false" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/data/2/plot" value="false" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/data/3/plot" value="false" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/load/1/plot" value="false" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/data/2/plot" value="false" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/data/3/plot" value="false" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/load/1/plot" value="false" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/data/2/plot" value="false" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/data/3/plot" value="false" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/load/1/plot" value="false" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/data/2/plot" value="false" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/data/3/plot" value="false" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/load/1/plot" value="false" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/data/2/plot" value="false" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/data/3/plot" value="false" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/load/1/plot" value="false" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/data/2/plot" value="false" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/data/3/plot" value="false" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/load/1/plot" value="false" />
    <add key="theme" value="auto" />
    <add key="plotForm.Location.X" value="-32768" />
    <add key="plotForm.Location.Y" value="100" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="mainForm.Location.X" value="1485" />
    <add key="mainForm.Location.Y" value="376" />
    <add key="mainForm.Width" value="524" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8688e/0/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/0/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/0/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/0/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/0/voltage/4/plot" value="false" />
    <add key="/lpc/it8688e/0/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/0/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/0/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/0/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/0/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/0/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/0/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/0/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/0/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/0/fan/0/plot" value="false" />
    <add key="/lpc/it8688e/0/fan/1/plot" value="false" />
    <add key="/lpc/it8688e/0/fan/2/plot" value="false" />
    <add key="/lpc/it8688e/0/fan/3/plot" value="false" />
    <add key="/lpc/it8688e/0/fan/4/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/0/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/1/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/2/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/3/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/4/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/5/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/6/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/7/plot" value="false" />
    <add key="/lpc/it8792e/0/voltage/8/plot" value="false" />
    <add key="/lpc/it8792e/0/temperature/0/plot" value="false" />
    <add key="/lpc/it8792e/0/temperature/2/plot" value="false" />
    <add key="/lpc/it8792e/0/fan/0/plot" value="false" />
    <add key="/lpc/it8792e/0/fan/1/plot" value="false" />
    <add key="/lpc/it8792e/0/fan/2/plot" value="false" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/data/2/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/data/3/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/throughput/7/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/throughput/8/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B243EE964-5C75-42DA-B55C-C4A5BFE95F41%7D/load/1/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/data/2/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/data/3/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/throughput/7/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/throughput/8/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B213BE5AF-D6F0-44A8-A10E-EA39F811AD56%7D/load/1/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/data/2/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/data/3/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/throughput/7/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/throughput/8/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B20CD0C61-772C-476C-85B8-CE34CB9AA235%7D/load/1/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/data/2/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/data/3/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/throughput/7/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/throughput/8/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B5E340DEE-5AC0-494E-90BB-44EF104B8EE1%7D/load/1/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/data/2/values" value="H4sIAAAAAAAEAGtL1w3sn3PPg2GOkeWF6HfcDCAAZCefTmYCMR+sMbIEACZBj4kkAAAA" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/data/3/values" value="H4sIAAAAAAAEAGtL1w3sn3PPg4HZy+JC9DtuBhAAspNPJzOB2QZeFgAXAD+gJAAAAA==" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/throughput/7/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEILkS/42aAguTTyUwgWoh/hyMAbtjdViQAAAA=" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/throughput/8/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEILkS/42aAguTTyUwgOjez1BEANXaPVyQAAAA=" />
    <add key="/nic/%7B37217669-42DA-4657-A55B-0D995D328250%7D/load/1/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEILkS/42aAguTTyUwgOm/jEhMAvszsfiQAAAA=" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/data/2/values" value="H4sIAAAAAAAEAGtL1w3sn3PPY0HUKkunFZ2cDEAAYvdtTmECsT/UrLJMPp0MZjvMX2UJADrazCIwAAAA" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/data/3/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/throughput/7/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEInFZ0cjJAQd/mFCYQ/TuS3Tn5dDITTBwAkypCPjAAAAA=" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/throughput/8/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEIjNWD+BigAADxvaAqGAAAAA==" />
    <add key="/nic/%7BE8475CD2-B9E4-407B-B732-64AB83F9E73E%7D/load/1/values" value="H4sIAAAAAAAEAGtL1w3sn3PPgwEInFZ0cjJAQd/mFCYQnbXK1Dz5dDITTBwADb6jQzAAAAA=" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/data/2/values" value="H4sIAAAAAAAEAGtL1w3sn3PPI2fjUXsNsSQmBiCYDWTni0LY94BswdYUMFts01H7Wd8TwGxrILtvM0S8DMhOPp0MZp8AsgG78pITVAAAAA==" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/data/3/values" value="H4sIAAAAAAAEAGtL1w3sn3PPY/X/7/YaYklMDEAwhfWHfb4ohD2L44e9YGsKmC0o9MN+1vcEMPskkN23GSKuI/3DPvl0Mpg9Qf6HPQA80zbmVAAAAA==" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/throughput/7/values" value="H4sIAAAAAAAEAGtL1w3sn3PP45L4cxcNsSQmBiCQsrrrki8KYcfc/O8i2JoCZn8MWeMy63sCmN22b5JL32aIeE4Rn2vy6WQw+3uHqSsASwNRSVQAAAA=" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/throughput/8/values" value="H4sIAAAAAAAEAGtL1w3sn3PPo9yq2UNDLImJAQjqt9e75YtC2Oo317gLtqaA2a/8J7nN+p4AZjuZHHPp2wwRN0856Z58OhnMfqgX5woAjnW71lQAAAA=" />
    <add key="/nic/%7B586BC0F5-B0E2-40FA-8A64-493D358AF7A3%7D/load/1/values" value="H4sIAAAAAAAEAGtL1w3sn3PPY3+rlr2GWBITAxCY3TKzzReFsLdbpdgJtqaA2Qk7vWxnfU8As5Om3bPu2wwRz7zcYpd8OhnMDnBssgEAeNg4z1QAAAA=" />
    <add key="/gpu-nvidia/0/temperature/0/values" value="H4sIAAAAAAAEAOMoawron3PPg4HBw6lZN5CPAQw8nADKkC9pGAAAAA==" />
    <add key="/gpu-nvidia/0/temperature/2/values" value="H4sIAAAAAAAEANOY2xTQP+eeB4NEhdMW0SQmBhDYUe4UIpwMYQeUO80OLISwNcqdmspCIOwbZU4lh2FqypzKUqF6PcqcAJdqQHRUAAAA" />
    <add key="/gpu-nvidia/0/temperature/3/values" value="H4sIAAAAAAAEANOY2xTQP+eeB0NDkdMW0SQmBhCIKHIKEU6GsAWKnGYHFkLFC52aykIgbI5Cp5LDUDUrCpzKUqF6d+Q7AQBI25PFVAAAAA==" />
    <add key="/gpu-nvidia/0/clock/0/values" value="H4sIAAAAAAAEAPtb3xzQP+eeBwPDFuf5jYlMDGBwyXk6QwqE3XDKmTe4AM6O9gmFqtnibPE2CcJ+MN35RTmUfWCmMwBvU2dGVAAAAA==" />
    <add key="/gpu-nvidia/0/clock/4/values" value="H4sIAAAAAAAEAPtb3xzQP+eeB0PDKed9bQF8DCAAZAMAbpqlPhgAAAA=" />
    <add key="/gpu-nvidia/0/fan/1/values" value="H4sIAAAAAAAEADu3qzmgf849D4YLu1xexiQyMYBAwW6Xo52pEPaE3S5HNudB2A92u7DMDoWwO3a79M9LgrArdru8KE+CiwMAZ6UMFVQAAAA=" />
    <add key="/gpu-nvidia/0/control/1/values" value="H4sIAAAAAAAEADu3qzmgf849DwaGD45vvQP4GMDggyMAl0QHLhgAAAA=" />
    <add key="/gpu-nvidia/0/load/0/values" value="H4sIAAAAAAAEAPP61hzQP+eeBwMDs5OdZyITAxgsc/Tfkgpl5zi2zMmDsj0c1dpDoWwHx2nzkqDsAMclATB2iiMAx3Ch41QAAAA=" />
    <add key="/gpu-nvidia/0/load/1/values" value="H4sIAAAAAAAEAPP61hzQP+eeBwPDGkc7z0QmBjCY4Oi/JRXKbnJsmZMHZVc4qrWHQtkFjtPmJcHZSwJg7BJHAPVDwvpUAAAA" />
    <add key="/gpu-nvidia/0/load/2/values" value="H4sIAAAAAAAEAPP61hzQP+eeBwMQFAoE8DFAAQDoxb0hGAAAAA==" />
    <add key="/gpu-nvidia/0/load/3/values" value="H4sIAAAAAAAEALuxqyWgf849j4y7hx0nPUhkYgACXe1TjkHeqWB2RfVRx78r88DsDSuOORYKhoLZP76ccHQ7ngRmz3h32DFFHcJWVTnlCACwiM5NVAAAAA==" />
    <add key="/gpu-nvidia/0/load/4/values" value="H4sIAAAAAAAEALuxqyWgf849D5XofEfhyEQmBiA4WRbhePFSKphtzhni+HdlHph97ruHY6FgKJi994uDo9vxJDC7b7qjY4o6hB3Q6+YIAHCsL3pUAAAA" />
    <add key="/gpu-nvidia/0/load/5/values" value="H4sIAAAAAAAEALuxqyWgf849j9lH6h2FIxOZGIDg2OmZjhcvpYLZjaGNjn9X5oHZj35FOxYKhoLZ58tjHN2OJ4HZCU/9HVPUIeyolGBHACe9O9VUAAAA" />
    <add key="/gpu-nvidia/0/power/0/values" value="H4sIAAAAAAAEAHvxsCWgf849jykzpjo27UxkYgACO692x6lFqWD2otYWx5uc+WC2m1m1Y8zREDBb3bDQMZkpGcxm0i5xvGGXBGbrGlU4AgBFtwJcVAAAAA==" />
    <add key="/gpu-nvidia/0/throughput/0/values" value="H4sIAAAAAAAEACvb3xHQP+eeR0OHuY/f9kQmBiC4wKrv+78iFczWma7qxyxZAGY7PDrsc2Z6CJjNwCvgo7IPop7hObePdGcymN1gOs8bAE+iKZlUAAAA" />
    <add key="/gpu-nvidia/0/throughput/1/values" value="H4sIAAAAAAAEAGuv7g3on3PPg8EszXvllEQmBhD4z++dOTUVwlaf6v1erADMbih97V1xKAQiviHOs2wCVP2FFE+988kQ9ocsTwDuyq05VAAAAA==" />
    <add key="/gpu-nvidia/0/smalldata/3/values" value="H4sIAAAAAAAEAOMoawron3PPYwL7Y5crNklMDECgIfXaJfYIhO0h9dRl0oJCMPvGrGcuLSIhYLZFz0uXna+SwewHMo9dmnsg6hsEXrsAAIibnxJUAAAA" />
    <add key="/gpu-nvidia/0/smalldata/4/values" value="H4sIAAAAAAAEAOMoawron3PPg+HVCqcrNklMDEDQcHilU+wRCJth2kqnSQsKIWzNpU4tIiEQtspip52vkuHs5h6o+ieLnQCWsjCcVAAAAA==" />
    <add key="/gpu-nvidia/0/load/7/values" value="H4sIAAAAAAAEAOMoawron3PPw6KZz/GKTRITAxAcdn/oEHsEwt5zcp/DpAWFYPYr4aMOLSIhYDZH8yyHna+Swew832kOzT0Q9RyfNjgAANzieAFUAAAA" />
    <add key="/gpu-nvidia/0/load/8/values" value="H4sIAAAAAAAEAOMoawron3PPI8LE3PaKTRITAxC0tJ2yz/0PYWfqWNo2pRaC2VPbje1bRELAbJVJXHY7XyWD2U/j9W2beyDqbVTi7AF3VPdmVAAAAA==" />
    <add key="/gpu-nvidia/0/load/9/values" value="H4sIAAAAAAAEAOMoawron3PPw0Rxrc0VmyQmBiCwE/hvk/sfwt6RdcKmKbUQzE5Zy2nbIhICZp923W2z81UymP2xocOmuQei/nHpZBsAS+IMVFQAAAA=" />
    <add key="/gpu-nvidia/0/load/10/values" value="H4sIAAAAAAAEAOMoawron3PPgwEImnUD+RigAABcuGxmGAAAAA==" />
    <add key="/gpu-nvidia/0/load/11/values" value="H4sIAAAAAAAEAOMoawron3PPgwEImnUD+RigAABcuGxmGAAAAA==" />
    <add key="/gpu-nvidia/0/load/12/values" value="H4sIAAAAAAAEAOMoawron3PPgwEImnUD+RigAABcuGxmGAAAAA==" />
    <add key="/gpu-nvidia/0/load/13/values" value="H4sIAAAAAAAEAOMoawron3PPgwEImnUD+RigAABcuGxmGAAAAA==" />
    <add key="/gpu-nvidia/0/load/14/values" value="H4sIAAAAAAAEAOMoawron3PPgwEImnUD+RigAABcuGxmGAAAAA==" />
    <add key="/gpu-nvidia/0/load/15/values" value="H4sIAAAAAAAEAOMoawron3PPgwEImnUD+RigAABcuGxmGAAAAA==" />
    <add key="/gpu-nvidia/0/load/16/values" value="H4sIAAAAAAAEAOMoawron3PPgwEImnUD+RigAABcuGxmGAAAAA==" />
    <add key="/gpu-nvidia/0/smalldata/0/values" value="H4sIAAAAAAAEALuxqyWgf849Dwa/g66THiQyMYCA137XIO9UCPvMAde/K/Mg7KwDroWCoRD2hv2ubseTIGyPg64p6lC2335XAKH+5S9UAAAA" />
    <add key="/gpu-nvidia/0/smalldata/1/values" value="H4sIAAAAAAAEALuxqyWgf849D4YVv1wmPUhkYgCBGEbXIO9UCHvDH5e/K/MgbIt/LoWCoRD2BAZXt+NJEPaBXy4p6lB2CKMrACuKYS9UAAAA" />
    <add key="/gpu-nvidia/0/smalldata/2/values" value="H4sIAAAAAAAEALuxqyWgf849DwYGBrc/V/35GCDADQD/2EbQGAAAAA==" />
    <add key="/vram/data/2/values" value="H4sIAAAAAAAEAEvbKRXYP+eex7MlOxzlPiYyMQDB9iU7He/PSQKzjwvvdAwxSwGzGS7tcIy5BRFXF9rp2FMLYe8z2eF4sz0ZzBaV3+kIAFG35htUAAAA" />
    <add key="/vram/data/3/values" value="H4sIAAAAAAAEAEvbKRXYP+eex+Vruo5yHxOZGIDA6Lq24/05SWC28E8dxxCzFDB7QY2uY8wtiHjwHx3HnloIW3m7nuPN9mQwu+yRjiMApFgDglQAAAA=" />
    <add key="/vram/load/1/values" value="H4sIAAAAAAAEAEvbKRXYP+eeR9Kfdie5j4lMDEBwYkeH0/05SWA2l1+HU4hZCpg9Q7bDKeYWRPyGT4dTTy2EfWJlu9PN9mQwOy6swwkAjUtsUVQAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAEvbKRXYP+eex/atpY5yHxOZGIDAhLHM8f6cJDC781upY4hZCpjNv67UMeYWRNwmo9SxpxbCfqxW6nizPRnMTrQudQQAHqyM1lQAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAEvbKRXYP+eeR8nWFke5j4lMDECwrb/F8f6cJDCbZ2qLY4hZCpjtsbPFMeYWRNzoTotjTy2Efe9Pi+PN9mQwe8GnFkcA4CRnh1QAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAEvbKRXYP+eex21PBye5j4lMDEDwrsXB6f6cJDB7ao2DU4hZCph9z9nBKeYWRNyS18GppxbCFr1l73SzPRnMlntl7wQAjGiPcFQAAAA=" />
    <add key="/memory/dimm/2/timing/20/values" value="" />
    <add key="/memory/dimm/2/timing/21/values" value="" />
    <add key="/memory/dimm/2/timing/22/values" value="" />
    <add key="/memory/dimm/2/timing/23/values" value="" />
    <add key="/memory/dimm/2/timing/24/values" value="" />
    <add key="/memory/dimm/2/timing/25/values" value="" />
    <add key="/memory/dimm/2/timing/26/values" value="" />
    <add key="/memory/dimm/2/timing/27/values" value="" />
    <add key="/memory/dimm/2/timing/28/values" value="" />
    <add key="/memory/dimm/2/timing/29/values" value="" />
    <add key="/memory/dimm/2/timing/30/values" value="" />
    <add key="/memory/dimm/2/timing/31/values" value="" />
    <add key="/memory/dimm/2/timing/32/values" value="" />
    <add key="/memory/dimm/2/timing/33/values" value="" />
    <add key="/memory/dimm/2/timing/34/values" value="" />
    <add key="/memory/dimm/2/timing/35/values" value="" />
    <add key="/memory/dimm/2/timing/36/values" value="" />
    <add key="/memory/dimm/2/data/50/values" value="" />
    <add key="/memory/dimm/3/timing/20/values" value="" />
    <add key="/memory/dimm/3/timing/21/values" value="" />
    <add key="/memory/dimm/3/timing/22/values" value="" />
    <add key="/memory/dimm/3/timing/23/values" value="" />
    <add key="/memory/dimm/3/timing/24/values" value="" />
    <add key="/memory/dimm/3/timing/25/values" value="" />
    <add key="/memory/dimm/3/timing/26/values" value="" />
    <add key="/memory/dimm/3/timing/27/values" value="" />
    <add key="/memory/dimm/3/timing/28/values" value="" />
    <add key="/memory/dimm/3/timing/29/values" value="" />
    <add key="/memory/dimm/3/timing/30/values" value="" />
    <add key="/memory/dimm/3/timing/31/values" value="" />
    <add key="/memory/dimm/3/timing/32/values" value="" />
    <add key="/memory/dimm/3/timing/33/values" value="" />
    <add key="/memory/dimm/3/timing/34/values" value="" />
    <add key="/memory/dimm/3/timing/35/values" value="" />
    <add key="/memory/dimm/3/timing/36/values" value="" />
    <add key="/memory/dimm/3/data/50/values" value="" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAJM41BjQP+eex6HSNY6qkklMDECQnvbQ8claCFtk3VnHJt1CMDtoh6jjnfJgMHuHnKrDd+UUMDstLczhbnUimO3xMM8BACJYruVUAAAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAJM41BjQP+eex6HScCdVySQmBiDwWBju9GQthP0m0NmpSbcQzOYKf+l4pzwYzO4/pO74XTkFqibb8W51Iphtx1XjCADv/RN7VAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAFOrawzon3PPQ55V1Uk8NomJAQh2yj1xfLIWwr6+eKljk24hmP2ois/xTnkwmJ2edszhu3IKmD3hUKXD3epEMHu9+3oHAFBKdv5UAAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAJM41BjQP+eeR7VIj6OqZBITAxDsmLfU8claCDvt2WrHJt1CMPvw1ykOd8qDwWz51tN235VTwOyHVVPs71YngtkgAABPVpTeVAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAJM41BjQP+eex5tAUUdVySQmBiAotE13fLIWwp5wKMqxSbcQzNaMaXe4Ux4MZoPAd+UUOPtudSKYLbLuuB0AqKHHhlQAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAJM41BjQP+eex9kzio6qkklMDEBQaGvq+GQthD1r5luHJt1CMPvsGR2HO+XBYDYIfFdOAbPfBHrY361OBLNF1h23AwBcxaMoVAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAJM41BjQP+eeh1zrbwdVySQmBjA44fBkLYR9+Os6hybdQjBbrvWw/Z3yYKgaBobvyilg9g65o3Z3qxPh4gCDh14oVAAAAA==" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAJM41BjQP+eeR5VIloOqZBITAxC0vK50eLIWwu4/xO/YpFsIZX+1v1MeDGaDwHflFDB7h9xRu7vViXBxAMyZxB5UAAAA" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAJM41BjQP+eeh13XE0dVySQmBhBwYHZ6shbC3jnvg2OTbiGYvc7d1eFOeTCYHbTjmP135RQwW2Sdu/3d6kQwW771tB0AX+xSMlQAAAA=" />
    <add key="/amdcpu/0/load/9/values" value="H4sIAAAAAAAEAJM41BjQP+eeR9COC46qkklMDGAg5vRkLYQtso7RqUm3EMx+HRjjcKc8GMyWbz1t9105Bcxe5y7qcLc6Ecz2eOhlDwAsZ1lXVAAAAA==" />
    <add key="/amdcpu/0/load/10/values" value="H4sIAAAAAAAEAJM41BjQP+eeh23XTkdVySQmBiDYEcfm9GQthL1TbpNjk24hmP2wStTxTnkwmC2y7r/9d+UUMHtJQaLD3epEMLtapMsBANWD+dpUAAAA" />
    <add key="/amdcpu/0/load/11/values" value="H4sIAAAAAAAEAJM41BjQP+eehx3XREdVySQmBiDoP/TZ8claCNsjkc2pSbcQzP6mEel4pzwYzNaMOW7/XTkFzF5SIOpwtzoRzBZZp+8AADvcqfFUAAAA" />
    <add key="/amdcpu/0/load/12/values" value="H4sIAAAAAAAEAJM41BjQP+eexyzJiY6qkklMDEDA2PDW8claCHuH3CbHJt1CMPvw12MOd8qDoeJH7b4rp4DZIHC3OhHMnjnzpz0AMQ6WN1QAAAA=" />
    <add key="/amdcpu/0/load/13/values" value="H4sIAAAAAAAEAJM41BjQP+eex/XFix1VJZOYGIBAM2aH45O1ELbWnbuOTbqFYPaSgssOd8qDwewdckftviungNkMDCfs71Yngtki69ztAS/JXKBUAAAA" />
    <add key="/amdcpu/0/load/14/values" value="H4sIAAAAAAAEAJM41BjQP+eeR4y/opOqZBITAxBMcDJ1erIWwo7pF3dq0i0Es7nCFzreKQ+GijM4fldOAbOrRYwd71Yngtn9h5wdAVfVVT5UAAAA" />
    <add key="/amdcpu/0/load/15/values" value="H4sIAAAAAAAEAJM41BjQP+eeBwPDOUdVySQmBiBYYuDg9GQthF3wV8+pSbcQzP6m0eV4pzwYzPZ4eMDhu3IKmD3h0GWHu9WJYPasmb8dAMTzIiFUAAAA" />
    <add key="/amdcpu/0/load/16/values" value="H4sIAAAAAAAEAJM41BjQP+eeh/xRRidVySQmBiCI8ddyerIWwn4tyO3UpFsIZsuxTnG8Ux4MZr8J3OfwXTkFzD57hs/xbnUimD1rpo0jACUSlUpUAAAA" />
    <add key="/amdcpu/0/load/17/values" value="H4sIAAAAAAAEAJM41BjQP+eeR+vrDY6qkklMDEAQ46/l9GQthP0m0NmpSbcQzE5/dsfxTnkwmH3oK6vjd+UUMLv/kLTj3epEMHtJgaYjABFd2EtUAAAA" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEALsYJhXYP+eex0lWbafNwUlMDEAg027qZG0FYSc9UHdqs08Gs2/cu+o4iRfCVtU85HgCqoZ/1X7H41DxmIbjjgArGzreVAAAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="" />
    <add key="/amdcpu/0/temperature/1/values" value="" />
    <add key="/amdcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJM41BjQP+eeB8OCOqdDtklMDCBQ0O7kuQHKvtDk1MBWCGYzJpQ53SkPhrAVEpy+K6dA2A8KnA70J0LUO5Q6AQD3r5KRVAAAAA==" />
    <add key="/amdcpu/0/voltage/0/values" value="H4sIAAAAAAAEAJM41BjQP+eeR3raWvtDtklMDEAwa+Yae88NEDYDwxr7BrZCMDs9bZX9nfJgMNvEeIV9rkUKmJ0GFPeqToSqX2kPAIiNu2dUAAAA" />
    <add key="/amdcpu/0/voltage/1/values" value="H4sIAAAAAAAEAJM41BjQP+eeh7Fxk/0h2yQmBiCYNbPR3nMDhJ2W1mTfwFYIZoPU3CkPhotv33yUBcYGAFsE4xBIAAAA" />
    <add key="/amdcpu/0/clock/0/values" value="H4sIAAAAAAAEAJM41BjQP+eeR8HC406HbJOYGICgf8FxJ88NEPYEILuBrRDM7gOy75QHw8VzLVLgbK/qRLheAIljq39UAAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAJM41BjQP+eeB4OEt+sh2yQmBhDgaHPNY0iGsAVaXLP6CiHsD62uZSIhEPaLetdy5RQIW6fV1bM6EcIOanMFAFpZ7olUAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAJM41BjQP+eeB0NBjssh2yQmBhCoWO6Sx5AMYT+Y7JLVVwhhO7x3LhMJgbLFncuVU6BsXWfP6kQI+0CYMwCsSa1EVAAAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEALsYJhXYP+eeB4NPu+vm4CQmBhB40eZqbQVluzW4ttknQ9gb2l0n8ULZDiWuZ/yS4OI38xFqAJDhMYRUAAAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAJM41BjQP+eeB0NGlMsh2yQmBhAI6XXx3ABlZ+S4NLAVQtgOR53vlAdD2Ac4nXMtUiBsBQZnr+pECHuBojMAZHQV51QAAAA=" />
    <add key="/amdcpu/0/factor/0/values" value="H4sIAAAAAAAEALsYJhXYP+eeB0ODrtPm4CQmBjDQdbK2grIbVJza7JOh4npOk3gh7FkzZZzO+CXBxW/mI9QAAI9fldpUAAAA" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEALsYJhXYP+eeh9frVIfNwUlMDECwa0uBg7UVhO3l4OnQZp8MZnuoT7KfxAth2+wMsz/jB1GzUNDX/mY+RFxTKMMeAMWYMUxUAAAA" />
    <add key="/amdcpu/0/voltage/2/values" value="H4sIAAAAAAAEAJM41BjQP+eex6yZa+wP2SYxMQBBWtpqe88NEPaZM6vsG9gKwWwT41X2d8qDwWwGhpX2uRYpYPbZMyvtvaoToWpW2gMAnkNCVFQAAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEALsYJhXYP+eeB4NPu+vm4CQmBhCQane9PwfKdmtw/cGcDGEXFLuu44Wy/+S4zlKHqhGpdj3ZDBVvqHMFAPI4oK1UAAAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAJM41BjQP+eeB0MGm8sh2yQmBhD4oe3iuQHKXvDHuYGtEMJ+oOd8pzwYwmZ47ZhrkQJl/3f0qk6EsuWcADW3bNtUAAAA" />
    <add key="/amdcpu/0/factor/1/values" value="H4sIAAAAAAAEALsYJhXYP+eeB0ODrtPm4CQmBhBw0HW6PwfKblBx+sGcDGbPminjtI4XwZ6lDlFz1kfV6WRzMpwNAPSzTS9UAAAA" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEALsYJhXYP+eex46jRg6bg5OYGIBgwl9jh/tzIGzeYhGHH8zJYPaO75H263ghbJYybftZ6hA1tukq9iebIeINq0zsAcm/BDpUAAAA" />
    <add key="/amdcpu/0/voltage/3/values" value="H4sIAAAAAAAEAJM41BjQP+eeR3raGvtDtklMDECQlrba3nMDhH3mzCr7BrZCMNvEeJX9nfJgMJuBYaV9rkUKmH32zEp7r+pEqJqV9gC/FWICVAAAAA==" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEALsYJhXYP+eeB4NUu+vm4CQmBhAAsu/PgbLdGlx/MCdD2DMaXNfxQtkaWa6z1KFqQqpdTzZDxc+0uQIA9MFJVVQAAAA=" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAJM41BjQP+eeB8ODo86HbJOYGEDgwltnzw0w9nLnLt1CCPvAJqdLAcEQNsMyx1yLFCh7iqNXdSKE3SDuBACsDbK6VAAAAA==" />
    <add key="/amdcpu/0/factor/2/values" value="H4sIAAAAAAAEALsYJhXYP+eeB4ODrtPm4CQmBhAAsu/PgbIbVJx+MCeD2Wd9VJ3W8ULYs2bKOM1ST4KLn2yGiDMw6DkBAInIKU1UAAAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEALsYJhXYP+eeR9dNUYfNwUlMDECwY52Yw/05EPbsinf2P5iTwewPv7zt1/FC2Gz86vaz1CFqJC8o2p9shoi/qTa2BwDCgKOSVAAAAA==" />
    <add key="/amdcpu/0/voltage/4/values" value="H4sIAAAAAAAEAJM41BjQP+eeR3raGvtDtklMDECQlrba3nMDhH3mzCr7Lt1CqPgq+0sBwWA2A8NK+1yLFDD77JmV9l7ViVD2CnsAvln0dFQAAAA=" />
    <add key="/amdcpu/0/clock/9/values" value="H4sIAAAAAAAEALsYJhXYP+eeB4NPu+vm4CQmBhCQane9PwfKBor/YE6GsL3aXdfxQtlJ7a6z1KFqNrS7nmxOhrMBkX3oWVQAAAA=" />
    <add key="/amdcpu/0/clock/10/values" value="H4sIAAAAAAAEAJM41BjQP+eeB4OFi8sh2yQmBhBgOefiuQHKXrDDpUu3EMJuMHCe2x0MYTuwOM8WTIGwFTidA9MToWp4nAFDJfDXVAAAAA==" />
    <add key="/amdcpu/0/factor/3/values" value="H4sIAAAAAAAEALsYJhXYP+eeB0ODrtPm4CQmBhBw0HW6PwfKBor/YE6GsBn0nAR3arDD2ABQhq6rPAAAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEALsYJhXYP+eex+9DbQ6bg5OYGIDA4942h/tzIGzZil6HH8zJYPYipmL7dbwQ9myuFPtZ6hA1NycF2J9shoizGCXbAwBZhUzdVAAAAA==" />
    <add key="/amdcpu/0/voltage/5/values" value="H4sIAAAAAAAEAJM41BjQP+eeR1raGvtDtklMDECQlrba3nMDhH3mzCr7Lt1CqPgq+7ndwWA2A8NK+9mCKWD22TMr7QPTE8HsWTNX2AMAiKb1O1QAAAA=" />
    <add key="/amdcpu/0/clock/11/values" value="H4sIAAAAAAAEALsYJhXYP+eeB4NPu+vm4CQmBhCY1Ox6fw6ULdXu+oM5GcLe0O4quFODHcYGAMw65Hs8AAAA" />
    <add key="/amdcpu/0/clock/12/values" value="H4sIAAAAAAAEAJM41BjQP+eeB8OGCS6HbJOYGEDgzXoXzw1Qds5yly7dQgibQ9hlbncwhO3wzmm2YAqEfYDLOTA9EcJOMHYGACY272hUAAAA" />
    <add key="/amdcpu/0/factor/4/values" value="H4sIAAAAAAAEALsYJhXYP+eeB0ODrtPm4CQmBhBw0HW6PwfB/sGcDGEz6DkJ7tRgh7EBLn07lzwAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEALsYJhXYP+eeh43oVIfNwUlMDEDgkDfF4f4cCPvqy0kOP5iTwWyf51vt1/FC2JZp2faz1CFqnFak2Z9shohH9LfaAwBc2YJxVAAAAA==" />
    <add key="/amdcpu/0/voltage/6/values" value="H4sIAAAAAAAEAJM41BjQP+eeR1raGvtDtklMDECQlrba3nMDhD1r5ir7Lt1CqPgq+7ndwVD2CvvZgilg9tkzK+0D0xOh6lfYAwAt0s4aVAAAAA==" />
    <add key="/amdcpu/0/clock/13/values" value="H4sIAAAAAAAEALsYJhXYP+eeB4NPu+vm4CQmBhBoana9PwfKlmp3/cGcDGFvaHf9awJlv2hw9WZIgoufbEaoAQCMHsZEVAAAAA==" />
    <add key="/amdcpu/0/clock/14/values" value="H4sIAAAAAAAEAJM41BjQP+eeB8OOApdDtklMDCBQMN3FcwOUXdPt0qVbCGEznHKe2x0MYTfEO80WTIGwHRqdAtMTIewDW5wAFJU8HlQAAAA=" />
    <add key="/amdcpu/0/factor/5/values" value="H4sIAAAAAAAEALsYJhXYP+eeB0ODrtPm4CQmBhBw0HW6PwfB/sGcDGEz6Dn9NYGwz/qoOnkzJMHFTzYj1AAAmdQqIFQAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEALsYJhXYP+eeh2JAq8Pm4CQmBiColWpzuD8Hwtad1ODwgzkZzF5/dJr9XxMI+1OHu703A0TNrSeO9iebIeIGmXH2ACgAupZUAAAA" />
    <add key="/amdcpu/0/voltage/7/values" value="H4sIAAAAAAAEAJM41BjQP+eeR1raGvtDtklMDECQlrba3nMDjL3Kvku3EMxmYFhlP7c7GCq+wn62YAqYPXPmSvvA9EQwe9bMFfYAIBXxjVQAAAA=" />
    <add key="/amdcpu/0/clock/15/values" value="H4sIAAAAAAAEAEvbKRXYP+eeB4NPu6vcx0QmBhCQane9PycJzv7BnAxhb2h3FdypwQ5jAwAqGKGTPAAAAA==" />
    <add key="/amdcpu/0/clock/16/values" value="H4sIAAAAAAAEAJM41BjQP+eeB0PBZpdDtklMDCDAxeGax5AMYbd8dEm9WwBhP0h3mdsdDGFfWOIcGpsKYRdcdp5+LwHCtmByAQD+Xj2EVAAAAA==" />
    <add key="/amdcpu/0/factor/6/values" value="H4sIAAAAAAAEAEvbKRXYP+eeB0ODrpPcx0QmBhBw0HW6PycJzv7BnAxhM+g5Ce7UYIexAfmL0Xs8AAAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAEvbKRXYP+eexzfV9Q5yHxOZGICg1OSRw/05SWC2wfntDj+Yk8HskE0cDn9NIGybtiP23gwQNeHyy+xPNkPElV5/sAcAPL84Z1QAAAA=" />
    <add key="/amdcpu/0/voltage/8/values" value="H4sIAAAAAAAEAJM41BjQP+eeh4nxGvtDtklMDECQlrbaPo8hGcpeZZ96twDMZmBYZT+3OxgqvsI+NDYVzD57ZqX99HsJYPasmSvsAVNIkPFUAAAA" />
    <add key="/amdcpu/0/clock/17/values" value="H4sIAAAAAAAEAEvbKRXYP+eeB4NPu6vcx0QmBhAIaXa9PycJwpZqdw0xS4GwN7S7vgg/ygJj32xPhoi/aHAFAMdsAKdIAAAA" />
    <add key="/amdcpu/0/clock/18/values" value="H4sIAAAAAAAEAJM41BjQP+eeB4PHRpdDtklMDCDQ8t0ljyEZwl7wyCWrrxDC1mlzKRMJgbAdDjqXK6dA2fecPasTIewEThcAStqRxVQAAAA=" />
    <add key="/amdcpu/0/factor/7/values" value="H4sIAAAAAAAEAEvbKRXYP+eeB0ODrpPcx0QmBhBw0HW6PycJzg4xS4GwGfScXoQfZYGxb7Yng8XP+qg6AQASbuKwSAAAAA==" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAEvbKRXYP+eex8uIrQ5yHxOZGIBg68+9DvfnJIHZv+ZvcwgxSwGzhSZpOcTcgogb1e+276mFsHMmHbO/2Z4MZj8KfmcPAIQL2SxUAAAA" />
    <add key="/amdcpu/0/voltage/9/values" value="H4sIAAAAAAAEAJM41BjQP+eeh4nxGvtDtklMDGCwxj6PIRnMPntmlX1WXyFUfJV9mUgImJ2WtsK+XDkFLu5ZnQhmnzmz3B4AFGJrglQAAAA=" />
    <add key="/amdcpu/0/temperature/3/values" value="H4sIAAAAAAAEAJM41BjQP+eeBwNDtdMh2yQmBhA40ODkuQHKTmh2amArhIrHOd0pDwazGR1cnHItUiDsAyFOXtWJEDaDjxMAoGrbIFQAAAA=" />
    <add key="/lpc/it8688e/0/voltage/0/values" value="H4sIAAAAAAAEAFssJRXYP+eexxqZVfY9GUlMDEBwffEG+wmJCLajRDKYnb1nib20IoRt3jnRPlgNosYxYar9ka8QtsKGSfYAkMXWslQAAAA=" />
    <add key="/lpc/it8688e/0/voltage/1/values" value="H4sIAAAAAAAEAFssJRXYP+eeR09OuENPRhITAxBEnApzmJAIYRdJhzs4SiSD2fv5IhykFRHsYDWImpvxEQ5HviLYAOXJ1d5UAAAA" />
    <add key="/lpc/it8688e/0/voltage/2/values" value="H4sIAAAAAAAEAFssJRXYP+eex6dLjo49GUlMDEBg3unoOCERwXaUSAaz18g4OUorQtiKG5wcg9UgatLSnByPfIWw04FsAG2Os55UAAAA" />
    <add key="/lpc/it8688e/0/voltage/3/values" value="H4sIAAAAAAAEAFssJRXYP+eex5KCxQ49GUlMDEBgbLzYYUIigu0okQxmg9RIK0LYra8XOwSrJcHFj3yFsEXWLXYAAHpqB2BUAAAA" />
    <add key="/lpc/it8688e/0/voltage/4/values" value="H4sIAAAAAAAEAFssJRXYP+eeh9u2ZvuejCQmBiCYItFiPyERwXaUSAazQWqkFRHsYDWImpj+JvsjXxHqAeQqeSNUAAAA" />
    <add key="/lpc/it8688e/0/voltage/5/values" value="H4sIAAAAAAAEAFssJRXYP+eex4pj2fY9GUlMDEDAw5RtPyERwnbpzrF3lEiGi+e5H2WBsY98hagB6QUABIRbBkgAAAA=" />
    <add key="/lpc/it8688e/0/voltage/6/values" value="H4sIAAAAAAAEAFssJRXYP+eeh4PpPPt++QA+BiAAsQHuCYo9GAAAAA==" />
    <add key="/lpc/it8688e/0/voltage/7/values" value="H4sIAAAAAAAEAFssJRXYP+eeh0xUiENPRhITAxCc+x7swLz9LTeMDQCaad+zJAAAAA==" />
    <add key="/lpc/it8688e/0/voltage/8/values" value="H4sIAAAAAAAEAFssJRXYP+eeR76Qs0O/fAAfAxCA2ABK4eIIGAAAAA==" />
    <add key="/lpc/it8688e/0/temperature/0/values" value="H4sIAAAAAAAEAFssJRXYP+eeBwMDj1O/fAAfAxjwOAEAyHHUwRgAAAA=" />
    <add key="/lpc/it8688e/0/temperature/1/values" value="" />
    <add key="/lpc/it8688e/0/temperature/2/values" value="H4sIAAAAAAAEAFssJRXYP+eeBwNDmVNPRhITAwg0dDpNSISyGRqcHCWSoewCJ2lFGDvaKVgNpibL6chXGLvCCQBZhrALVAAAAA==" />
    <add key="/lpc/it8688e/0/temperature/3/values" value="H4sIAAAAAAAEAFssJRXYP+eeBwODglO/fAAfAxgoOAEAk/N0HxgAAAA=" />
    <add key="/lpc/it8688e/0/temperature/4/values" value="H4sIAAAAAAAEAFssJRXYP+eeBwODulNPRhITAxhoOF2sPMoCY0srJkPF1ZyC1WBqVJ2OfIWxVZwA/WVhqUgAAAA=" />
    <add key="/lpc/it8688e/0/temperature/5/values" value="H4sIAAAAAAAEAFssJRXYP+eeBwODhlO/fAAfAxhoOAEArWf05BgAAAA=" />
    <add key="/lpc/it8688e/0/fan/0/values" value="H4sIAAAAAAAEAFssJRXYP+eeh+UrddeejCQmBiDYcNTEdUIihN2WY+7qKJEMZusuV3eVVoSwy+IlXYPVIGqaL8q7HvkKYSedVXcFAGJSfjVUAAAA" />
    <add key="/lpc/it8688e/0/fan/1/values" value="H4sIAAAAAAAEAFssJRXYP+eeh8ROE5eejCQmBiAICjNxmZAIYf9bY+LiKJEMZq9MMnGRVoSwLdJNXYLVIGpW95i6HPkKYRsDzQEADedPGlQAAAA=" />
    <add key="/lpc/it8688e/0/fan/2/values" value="H4sIAAAAAAAEAFssJRXYP+eeBwMQ9MsH8DFAAQC1q5cCGAAAAA==" />
    <add key="/lpc/it8688e/0/fan/3/values" value="H4sIAAAAAAAEAFssJRXYP+eeBwMQ9MsH8DFAAQC1q5cCGAAAAA==" />
    <add key="/lpc/it8688e/0/fan/4/values" value="H4sIAAAAAAAEAFssJRXYP+eeBwMQ9MsH8DFAAQC1q5cCGAAAAA==" />
    <add key="/lpc/it8688e/0/control/0/values" value="" />
    <add key="/lpc/it8688e/0/control/1/values" value="" />
    <add key="/lpc/it8688e/0/control/2/values" value="" />
    <add key="/lpc/it8688e/0/control/3/values" value="" />
    <add key="/lpc/it8688e/0/control/4/values" value="" />
    <add key="/lpc/it8792e/0/voltage/0/values" value="H4sIAAAAAAAEALsYJhXYP+eeB1vjU/s4nSQmBiBQuf3UfkIihK0EZLfZJ4PZ9qbP7CfxJsPFG9QgakB6+ZUQ4gAL5aEyVAAAAA==" />
    <add key="/lpc/it8792e/0/voltage/1/values" value="H4sIAAAAAAAEALsYJhXYP+eeR5KAhP1U5QA+BiAAsQH8P6iLGAAAAA==" />
    <add key="/lpc/it8792e/0/voltage/2/values" value="H4sIAAAAAAAEALsYJhXYP+eeR/+hVvs4nSQmBiA4UdZmPyERwl4j02bfZp8MZoPUTOJNhos3qCHU8yshxAGlv9PIVAAAAA==" />
    <add key="/lpc/it8792e/0/voltage/3/values" value="H4sIAAAAAAAEALsYJhXYP+eex78rN+ynKgfwMQABiA0AJn5Q8BgAAAA=" />
    <add key="/lpc/it8792e/0/voltage/4/values" value="H4sIAAAAAAAEALsYJhXYP+eeB1vjU/s4nSQmBiBQuf3UfkIihA0SXz61mxPGBgC3g2MjMAAAAA==" />
    <add key="/lpc/it8792e/0/voltage/5/values" value="H4sIAAAAAAAEALsYJhXYP+eeR8LTA/ZxOklMDEBQa3/QfkIihA0Sn1GswQ5j8yslw9UAAPwrPuw8AAAA" />
    <add key="/lpc/it8792e/0/voltage/6/values" value="H4sIAAAAAAAEALsYJhXYP+eeh3yrscNU5QA+BiAAsQHZZnmvGAAAAA==" />
    <add key="/lpc/it8792e/0/voltage/7/values" value="H4sIAAAAAAAEALsYJhXYP+eeR3dOuMNU5QA+BiAAsQFOaKi7GAAAAA==" />
    <add key="/lpc/it8792e/0/voltage/8/values" value="H4sIAAAAAAAEALsYJhXYP+eeh19SgMNU5QA+BiAAsQEauYA/GAAAAA==" />
    <add key="/lpc/it8792e/0/temperature/0/values" value="H4sIAAAAAAAEALsYJhXYP+eeBwODiNNU5QA+BjAQcQIA9VsOqRgAAAA=" />
    <add key="/lpc/it8792e/0/temperature/1/values" value="" />
    <add key="/lpc/it8792e/0/temperature/2/values" value="H4sIAAAAAAAEALsYJhXYP+eeBwODhNNU5QA+BjCQcAIA1IVOLxgAAAA=" />
    <add key="/lpc/it8792e/0/fan/0/values" value="H4sIAAAAAAAEALsYJhXYP+eeBwMQTFUO4GOAAgCLO729GAAAAA==" />
    <add key="/lpc/it8792e/0/fan/1/values" value="H4sIAAAAAAAEALsYJhXYP+eeBwMQTFUO4GOAAgCLO729GAAAAA==" />
    <add key="/lpc/it8792e/0/fan/2/values" value="H4sIAAAAAAAEALsYJhXYP+eeBwMQTFUO4GOAAgCLO729GAAAAA==" />
    <add key="/lpc/it8792e/0/control/0/values" value="H4sIAAAAAAAEALsYJhXYP+eeBwPDCaeSs+rsDGBwwmkSbzIThH3UqUEtCcre7MSvBBVvOOYEAKWHmP48AAAA" />
    <add key="/lpc/it8792e/0/control/1/values" value="H4sIAAAAAAAEALsYJhXYP+eeBwPDCaeSs+rsDGBwwmkSbzIThH3UqUEtCcre4cSvBBVvOOYEAEi8oLE8AAAA" />
    <add key="/lpc/it8792e/0/control/2/values" value="H4sIAAAAAAAEALsYJhXYP+eeBwNDiNNU5QA+BjAIcQIAAePOGBgAAAA=" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinTiming" value="0" />
    <add key="plotPanel.MaxTiming" value="100" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="plotPanel.MinNoise" value="0" />
    <add key="plotPanel.MaxNoise" value="100" />
    <add key="plotPanel.MinConductivity" value="0" />
    <add key="plotPanel.MaxConductivity" value="100" />
    <add key="plotPanel.MinHumidity" value="0" />
    <add key="plotPanel.MaxHumidity" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="308" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerIp" value="?" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" />
  </appSettings>
</configuration>